@import url("./style.css");

#gallery {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 150px);
}

#gallery div {
  overflow: hidden;
}

#gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#gallery div:nth-child(6) {
  grid-row: 2 / span 3;
}

#gallery div:nth-child(7) {
  grid-column: 3 / span 2;
  grid-row: 2 / span 3;
}
#gallery div:nth-child(10) {
  /* grid-column: 3/ span 2; */
  grid-row: 5 / span 2;
}
#gallery div:nth-child(11) {
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
}
#gallery div:nth-child(12) {
  grid-row: 5 / span 2;
}
