:root {
  --yellow: #ffd600;
  --green: #02323c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body,
html {
  height: 100%;
}

#home_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 3rem auto 1rem auto;
  gap: 0.5rem;
}

#home_link svg {
  width: 1 rem;
  height: 1rem;
}

h1#page_title {
  text-align: center;
  padding: 0 0 3rem 0;
}
